<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="home">Accueil</a></li>
                <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="book">Livre</a></li>
            
                <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="author">Auteur</a></li>
            </ul>
        </div>
    </div>
</nav>

