<h3 class="py-4">Créer un livre</h3>

<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div class="form-group">
        <label>Titre: </label>
        <input class="form-control form-control-lg" formControlName="title">
    </div>
    <div class="form-group">
        <label>date:</label>
        <input class="form-control form-control-lg" formControlName="publicationDate">
    </div>

    <div class="form-group">
        <label>resume:</label>
        <textarea class="form-control form-control-lg" formControlName="resume"></textarea>
    </div>

    <div class="form-group">
        <label>Language: &nbsp;&nbsp;&nbsp; </label>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="language">
            <option *ngFor="let language of languages" [ngValue]="language.id">{{ language.id }}
            </option>
        </select>
    </div>
</form>
<div *ngFor="let language of languages">
<p>{{ language.name }}</p>
</div>