<div class="m-5">
    <h1>Livres</h1>
    <div class="row mb-5">
        <div class="col-3">
             <button type="button" class="btn btn-primary" (click)="create()">Créer un nouveau livre</button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-primary" (click)="bind()">Lier un auteur à un livre</button> 
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Titre</th>
        <th scope="col">Date de publication</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of books; index as i">
        <th scope="row">
            <a routerLink="/book-detail/{{ book.id }}">
                {{ i + 1 }}
            </a>
        </th>
        <td>
            {{ book.title }}
        </td>
        <td>{{ book.publicationDate | date: "dd/MM/yyyy"  }}</td>
        </tr>
        </tbody>
    </table>
</div>
